.calculator {
    width: 200px;
    margin: 0 auto;

    text-align: center;
  }
 
  .keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin-top: 10px;
  }
  
  button {
    padding: 4px;
    width: 4em;
    font-size: 18px;
  }
  .calculator{
    border-radius: 10px;
    width: 20rem;
  }
  h1{
    text-align: center;
  }
  p{
    text-align: center;
  }